 <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
                        <div class="container-fluid px-4">
                            <div class="page-header-content">
                                <div class="row align-items-center justify-content-between pt-3">
                                    <div class="col-auto mb-3">
                                        <h1 class="page-header-title">
                                            <div class="page-header-icon"><i data-feather="globe"></i></div>
                                            Organization Details
                                        </h1>
                                    </div>
                                    <div class="col-12 col-xl-auto mb-3">
                                        <a class="btn btn-sm btn-light text-primary" href="user-management-list.html">
                                            <i class="me-1" data-feather="user"></i>
                                            Manage Users
                                        </a>
                                        <a class="btn btn-sm btn-light text-primary" href="user-management-groups-list.html">
                                            <i class="me-1" data-feather="users"></i>
                                            Manage Groups
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </header>
                    <!-- Main page content-->
                    <div class="container-fluid px-4">
                        <div class="card bg-gradient-primary-to-secondary mb-4">
                            <div class="card-body">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="me-3">
                                        <div class="small text-white-50">Organization Name:</div>
                                        <div class="h1 text-white">Start Bootstrap</div>
                                    </div>
                                    <div class="text-white">20 Member(s)</div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <div class="small text-muted mb-2">Administrators:</div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="d-flex align-items-center">
                                            <div class="avatar avatar-lg"><img class="avatar-img img-fluid" src="../public/assets/img/illustrations/profiles/profile-1.png" /></div>
                                            <div class="ms-3">
                                                <div class="fs-4 text-dark fw-500">Tiger Nixon</div>
                                                <div class="small text-muted">Admin</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="d-flex align-items-center">
                                            <div class="avatar avatar-lg"><img class="avatar-img img-fluid" src="../public/assets/img/illustrations/profiles/profile-2.png" /></div>
                                            <div class="ms-3">
                                                <div class="fs-4 text-dark fw-500">Garrett Winters</div>
                                                <div class="small text-muted">Admin</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>