  <!-- Page Header-->
    <header class="page-header-ui page-header-video page-header-ui-dark bg-transparent overlay">
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop"><source src="public/assets/video/bg_notext.mov" type="video/mp4" /></video>
        <div class="page-header-ui-content z-1">
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-xl-8 col-lg-10 text-center">
                        <h1 class="page-header-ui-title">Mot diem den tiem nang</h1>
                        <p class="page-header-ui-text mb-5">Chao mung den voi du an The global city</p>
                        <a class="btn fw-500 btn-teal me-2" href="#!">
                            Lien he ngay!
                            <i class="ms-2" data-feather="arrow-right"></i>
                        </a>
                        <a class="btn btn-link fw-500" href="#!">Tim hieu them</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="svg-border-angled text-white">
            <!-- Angled SVG Border-->
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none" fill="currentColor"><polygon points="0,100 100,0 100,100"></polygon></svg>
        </div>
</header>
