<div class="bg-yellow-gold">
    {{!-- <div class="text-center text-white p-4">
        <h2>ĐĂNG KÝ NHẬN THÔNG TIN THÊM VỀ DỰ ÁN</h2>
        <p>Quý khách cần thêm thông tin về dự án The Global City, Hãy để lại thông tin bên dưới, đội ngũ chúng tôi sẽ
            liên hệ tư vấn lại ngay. Hoặc có thể gọi qua Hotline 24/7: 0938.279.155</p>
    </div> --}}
    <div class="container px-5 pt-4">
        <div class="row gx-5 justify-content-center">
            <div class="col-xl-8 col-lg-10 text-center">
                <h1>ĐĂNG KÝ NHẬN THÔNG TIN THÊM VỀ DỰ ÁN</h1>
                <p class="text-white">Quý khách cần thêm thông tin về dự án The Global City, Hãy để lại
                    thông tin bên dưới, đội ngũ chúng tôi sẽ liên hệ tư vấn lại ngay. Hoặc có thể gọi qua Hotline 24/7:
                    <span class="text-black fs-3">0938.279.155</span>
                </p>
            </div>
        </div>
    </div>
    <form action="post" action="" class="px-xl-15">
        <div class="row gx-1 pb-4 px-md-5 px-xl-5">
            <div class="col-md-2">
                <input class="form-control py-3" id="inputName" type="text" placeholder="Name" required>
            </div>
            <div class="col-md-2">
                <input class="form-control py-3" id="inputPhone" type="email" placeholder="Phone" required>
            </div>
            <div class="col-md-3">
                <input class="form-control py-3" id="inputEmail" type="email" placeholder="Email">
            </div>
            <div class="col-md-3">
                <input class="form-control py-3" id="inputNote" type="text" placeholder="Note">
            </div>
             <div class="col-md-2 ps-xl-3">
                <input class="form-control py-3 bg-green-tgc text-white" type="button" value="Send" id="submit" type="text">
            </div>
        </div>
    </form>
</div>