<section class="bg-white py-10">
    <div class="container px-2 pt-2">
        <div class="row gx-5 justify-content-center">
            <div class="col-xl-10 col-lg-10 text-center">
                <h1 class="fs-1">Mat Bang</h1>
                <p> <span class="text-red fw-bold">The Global City </span>là một khu đô thị mới sẽ ra mắt trong năm 2022, tọa lạc ngay trung tâm Phường An Phú, Quận 2, TP Hồ Chí Minh do Masterise Homes phát triển, dự án còn được biết đến với tên gọi Khu đô thị Sài Gòn Bình An có quy mô hơn 117 hecta với đầy đủ các loại hình từ căn hộ, nhà phố, biệt thự,… cùng với đó là những tiện ích giải trí cao cấp hàng đầu của TP Thủ Đức như khách sạn 5*, trung tâm thương mại, bệnh viện quốc tế, trường học quốc tế và các dịch vụ cao cấp khác.</p>
            </div>
            <div class="col-lg-10" data-aos="fade-left"><img class="img-fluid rounded-3 shadow my-5" src="/public/assets/img/the-global-city-kick-off-16.jpg" alt="..."></div>
            <div class="col-xl-10 col-lg-10 text-center">
                <p> <span class="text-red fw-bold">The Global City </span>là một khu đô thị mới sẽ ra mắt trong năm 2022, tọa lạc ngay trung tâm Phường An Phú, Quận 2, TP Hồ Chí Minh do Masterise Homes phát triển, dự án còn được biết đến với tên gọi Khu đô thị Sài Gòn Bình An có quy mô hơn 117 hecta với đầy đủ các loại hình từ căn hộ, nhà phố, biệt thự,… cùng với đó là những tiện ích giải trí cao cấp hàng đầu của TP Thủ Đức như khách sạn 5*, trung tâm thương mại, bệnh viện quốc tế, trường học quốc tế và các dịch vụ cao cấp khác.</p>
            </div>
            <div class="col-lg-10" data-aos="fade-right"><img class="img-fluid rounded-3 shadow my-5" src="/public/assets/img/vi-tri-du-an-the-global-city-1024x650.jpg" alt="..."></div>
            <div class="col-xl-10 col-lg-10 text-center">
                <p> <span class="text-red fw-bold">The Global City </span>là một khu đô thị mới sẽ ra mắt trong năm 2022, tọa lạc ngay trung tâm Phường An Phú, Quận 2, TP Hồ Chí Minh do Masterise Homes phát triển, dự án còn được biết đến với tên gọi Khu đô thị Sài Gòn Bình An có quy mô hơn 117 hecta với đầy đủ các loại hình từ căn hộ, nhà phố, biệt thự,… cùng với đó là những tiện ích giải trí cao cấp hàng đầu của TP Thủ Đức như khách sạn 5*, trung tâm thương mại, bệnh viện quốc tế, trường học quốc tế và các dịch vụ cao cấp khác.</p>
            </div>
            <div class="col-lg-10" data-aos="fade-right"><img class="img-fluid rounded-3 shadow my-5" src="/public/assets/img/tien-ich-the-global-city-5-1024x576.jpg" alt="..."></div>
              <div class="col-xl-10 col-lg-10 text-center">
                <p> <span class="text-red fw-bold">The Global City </span>là một khu đô thị mới sẽ ra mắt trong năm 2022, tọa lạc ngay trung tâm Phường An Phú, Quận 2, TP Hồ Chí Minh do Masterise Homes phát triển, dự án còn được biết đến với tên gọi Khu đô thị Sài Gòn Bình An có quy mô hơn 117 hecta với đầy đủ các loại hình từ căn hộ, nhà phố, biệt thự,… cùng với đó là những tiện ích giải trí cao cấp hàng đầu của TP Thủ Đức như khách sạn 5*, trung tâm thương mại, bệnh viện quốc tế, trường học quốc tế và các dịch vụ cao cấp khác.</p>
            </div>
        </div>
    </div>
</section>
