 <!-- Navbar-->
    <nav class="navbar bg-yellow-gold navbar-marketing navbar-expand-lg navbar-light">
        <div class="container px-5">
            {{!-- <a class="navbar-brand text-dark" href="index.html">SB UI Kit Pro</a> --}}
            <img src="public/assets/img/logo-tgc-1.png" width ="240">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i data-feather="menu"></i></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto me-lg-5">
                    <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                    <li class="nav-item dropdown dropdown-xl no-caret">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownDemos" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Landings
                        <i class="fas fa-chevron-right dropdown-arrow"></i>
                    </a>

                    </li>
                    <li class="nav-item dropdown dropdown-xl no-caret">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownPages" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Pages
                        <i class="fas fa-chevron-right dropdown-arrow"></i>
                    </a>
                    </li>
                    <li class="nav-item dropdown no-caret">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownDocs" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Documentation
                        <i class="fas fa-chevron-right dropdown-arrow"></i>
                    </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>