<section class="bg-white py-10">
    <div class="container px-5">
        <div class="row gx-5 text-center">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="icon-stack icon-stack-xl bg-gradient-primary-to-secondary text-white mb-4"><i
                        data-feather="layers"></i></div>
                <h3>Built for developers</h3>
                <p class="mb-0">Our modular, block-based build system makes building your next project fast and easy!
                </p>
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="icon-stack icon-stack-xl bg-gradient-primary-to-secondary text-white mb-4"><i
                        data-feather="smartphone"></i></div>
                <h3>Modern responsive design</h3>
                <p class="mb-0">This UI Kit is build mobile-first, meaning it is will function beautifully on any
                    device!</p>
            </div>
            <div class="col-lg-4">
                <div class="icon-stack icon-stack-xl bg-gradient-primary-to-secondary text-white mb-4"><i
                        data-feather="code"></i></div>
                <h3>Complete documentation</h3>
                <p class="mb-0">All of the layouts, page sections, components, and utilities are fully covered in this
                    products docs.</p>
            </div>
        </div>
    </div>

</section>