  <section class="bg-green-tgc py-10">
                        <div class="container px-5">
                            <div class="row gx-5 brands text-gray-500 align-items-center mb-5">
                                <div class="d-flex justify-content-center mb-5 mb-lg-0">
                                    <img src="public/assets/img/ms-partner-en.png" class="img-partner">
                                </div>
                            </div>
                            <div class="row gx-5 justify-content-center z-1">
                                <div class="col-lg-8" data-aos="fade-up">
                                    <div class="card lift mb-n15">
                                        <div class="card-body p-2">
                                            <div class="video overlay bg-img-cover rounded" style="background-image: url('https://source.unsplash.com/wD1LRb9OeEo/1500x900')">
                                                <a class="video-link" href="assets/video/video.mp4" data-lity=""><i class="fas fa-play"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>