 <section class="bg-light py-10">
                        <div class="container px-5 z-1">
                            <div class="card mb-5" data-aos="fade-right">
                                <div class="row g-0">
                                    <div class="col-md-6"><img class="img-fluid" src="https://source.unsplash.com/6LBBOwkPzyQ/800x550" alt="..." /></div>
                                    <div class="col-md-6">
                                        <div class="card-body d-flex align-items-center justify-content-center h-100 flex-column">
                                            <h3 class="card-title fw-bold text-uppercase mb-2">Cocooil</h3>
                                            <p class="card-text fw-light mb-4">Body Oil</p>
                                            <a class="btn btn-outline-dark fw-500" href="#!">View Case Study</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-5" data-aos="fade-left">
                                <div class="row g-0">
                                    <div class="col-md-6 order-1 order-md-0">
                                        <div class="card-body d-flex align-items-center justify-content-center h-100 flex-column">
                                            <h3 class="card-title fw-bold text-uppercase mb-2">Balitello</h3>
                                            <p class="card-text fw-light mb-4">Designer Socks</p>
                                            <a class="btn btn-outline-dark fw-500" href="#!">View Case Study</a>
                                        </div>
                                    </div>
                                    <div class="col-md-6 order-0 order-md-1"><img class="img-fluid" src="https://source.unsplash.com/XfHvAwu6E8E/800x550" alt="..." /></div>
                                </div>
                            </div>
                        </div>
                        <div class="svg-border-rounded text-white mt-n15">
                            <!-- Rounded SVG Border-->
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
                        </div>
                    </section>